dist/
Release/
Release-anniversary/
Release-goldclient/
*.bak
*.log
*.o
*.obj
cspro-browser.mjs
Half-Life/

.env
originals/pre-anniversary/*.dll
originals/anniversary/*.dll
originals/goldclient/steam_api.dll
